<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Справочники</title>
</head>
<body>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Выйти</a> |
        {% endif %}
        <a href="/perf">Документы выработки</a> | <a>Справочники</a> | <a href="/perf/report">Отчеты</a>

        <h2>Справочники</h2>
        <h3>|
        {% for key, dict in dicts.items %}
            <a href="?dict={{ key }}">{{ dict }}</a> |
        {% endfor %}
        </h3>
        <hr>

        {% for element in elements %}

        {% endfor %}

</body>
</html>