<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        .red-text {
            color: red;
        }
    </style>
    <title>Документ</title>
</head>
<body>
    {% block content %}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Выйти</a> |
        {% endif %}
        <a href="{% url 'docs_list' %}">Документы выработки</a> | <a href="{% url 'menu_lists' %}">Справочники</a> | <a href="{% url 'report' %}">Отчеты</a>

        <h2>{{doc}}</h2>
        <h2>Продукция:</h2>
        <table>
            <tr>
                <th>Н/П</th>
                <th>Изделие</th>
                <th>Количество</th>
                <th>%</th>
                <th>Удалить</th>
            </tr>
            {% for product in doc_created_products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'edit_product' product.product_id %}">{{ product }}</a></td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.percent|floatformat:2 }}%</td>
                    <td><a href="?doc_id={{ doc.id }}&del_pr={{ product.id }}"><button>X</button></a></td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3" align="left">Итого:</th>
                <th align="right">{{ doc.percent|floatformat:2 }}%</th>
                <th></th>
            </tr>

        </table>
        <hr>

        <!-- Добавление выработки -->
        <form method="post">
            <fieldset>
                <legend> Добавить продукцию: </legend>
                {% csrf_token %}

                <label for="product_id">Изделие: </label>
                <select id="product_id" name="product_id">
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product }}</option>
                    {% endfor %}
                </select>

                <label for="quantity">Количество: </label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">

                <input type="hidden" id="pr_add" name="add" value="pr_add">
                <button type="submit">Добавить</button>

            </fieldset>
        </form>
        <br>

        <h2>Бригада:</h2>
        <hr>

        <table>
            <tr>
                <th>Н/П</th>
                <th>Рабочий</th>
                <th>Время работы</th>
                <th>Удалить</th>
            </tr>
            {% for worker in doc_brigade %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'edit_employee' worker.employee_id %}"> {{ worker }}</a></td>
                    <td align="right">{{ worker.working }}</td>
                    <td><a href="?doc_id={{ doc.id }}&del_wk={{ worker.id }}"><button>X</button></a></td>
                </tr>
            {% endfor %}

        </table>
        <hr>

        <!-- Добавление рабочего в бригаду -->
        <form method="post">
            <fieldset>
                <legend> Добавить рабочего: </legend>
                    {% csrf_token %}

                <label for="emp_id">Рабочий: </label>
                <select id="emp_id" name="emp_id">
                    {% for employee in employees %}
                        <option value="{{ employee.id }}">{{ employee }}</option>
                    {% endfor %}
                </select>

                <label for="working">Отработанное время: </label>
                <input type="time" id="working" name="working" value="12:00" min="00:30" max="16:00">

                <input type="hidden" id="wk_add" name="add" value="wk_add">
                <button type="submit">Добавить</button>
            </fieldset>
        </form>
        {% if err %}
            <hr>
            <h3 class="red-text"> {{ err }} </h3>
        {% endif %}
    {% endblock %}

</body>
</html>